{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Login | BookSphere</title>
  <link rel="stylesheet" href="{% static 'admin_auth.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
</head>
<body>

  <div class="background">
    <div class="circle one"></div>
    <div class="circle two"></div>
    <div class="circle three"></div>
  </div>

  <div class="container">
    <div class="card">
      <h1>🔐 Admin Login</h1>
      <p class="subtitle">Login to BookSphere</p>

      <form method="POST">
        {% csrf_token %}

        <div class="inputBox">
          <input type="text" name="username" required />
          <span>Username</span>
        </div>

        <div class="inputBox">
          <input type="password" name="password" required />
          <span>Password</span>
        </div>

        <button type="submit" class="btn">Login</button>

        <p class="text">
          New Librarian?
          Contact your supervisor to create an account.
        </p>

      </form>
    </div>
  </div>
</body>
</html>